.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include respond(tab-port) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__form {
    padding: 0 5rem;
    display: flex;
    flex-direction: column;

    & a {
      margin-top: 2rem;
    }

    &--box {
      display: flex;
      flex-direction: column;

      input {
        font-size: 1.8rem;
        padding: 2rem 1.8rem;
        width: 100%;
        border: 1px solid $color-box-border;
        border-radius: 5px;
        font-family: inherit;
        color: inherit;
      }
    }

    .check-box label a {
      color: $color-blue;
      font-weight: 700;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: $color-blue;
        bottom: -1px;
        left: 0;
      }
    }
    .check-box input {
      margin-right: 1rem;
    }

    & button {
      background: $color-blue;
      color: $color-white;
      width: 100%;
    }

    & p a {
      color: $color-blue;
      font-weight: 700;
    }
  }

  &__image {
    background: radial-gradient(#531bc1, $color-blue);
    position: relative;

    @include respond(tab-port) {
      display: none;
    }

    img {
      height: 50%;
      // width: 70%;
      padding: 0 1.2rem;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
    }

    &--content {
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translateX(-50%);
      width: 60%;
      text-align: center;
      color: $color-white;

      & h2 {
        color: inherit;
        width: 108%;
      }

      .dots {
        display: flex;
        gap: 0.7rem;
        align-items: center;
        justify-content: center;

        .dot {
          height: 1rem;
          width: 1rem;
          background: rgba($color: $color-box-border, $alpha: 0.5);
          border-radius: 50%;
          cursor: pointer;

          &__white {
            background: $color-white;
          }
        }
      }
    }
  }
}
